<table>
    <tr>
        <td>主机名称</td>
        <td>{{ module.hostname }}</td>
    </tr>
    <tr>
        <td>系统信息</td>
        <td>{{ module.system_info }}</td>
    </tr>
    <tr>
        <td>CPU架构</td>
        <td>{{ module.arch }}</td>
    </tr>
    <tr>
        <td>CPU信息</td>
        <td>{{ module.procesor }}</td>
    </tr>
    <tr>
        <td>Python版本</td>
        <td>{{ module.py_version }}</td>
    </tr>
    <tr>
        <td>主机数量</td>
        <td>{{ module.host_count }}</td>
    </tr>
    <tr>
        <td>业务数量</td>
        <td>{{ module.buss_count }}</td>
    </tr>
    <tr>
        <td>Minion状态</td>
        <td>{{ module.minions_status }}</td>
    </tr>
</table>